.fa-stack {
    font-size: 0.66em;
}

i {
    vertical-align: middle;
}

.success-text {
    font-weight: 600;
}

.item-image {
    min-height: 225px;
    max-height: 225px;
    object-fit: cover;
}

@media (max-width: 426px) {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .item-image {
        min-height: 350px;
        max-height: 350px;
        object-fit: cover;
    }
}

.toppings-container {
    background-color: #f4f4f5;
}

.menuLink a {
    text-decoration: none;
    color: black;
}

.order-button {
    background-color: #008d9b;
    border-color: #008d9b;
    color: white;
    font-weight: 600;
}
