/* Index Page Styles */

.custom-navbar a {
    margin-right: 30px;
    border-bottom: 2px solid #343a40;
    font-weight: bold;
}

    .custom-navbar a:hover {
        border-bottom: 2px solid #7ed957;
    }

.active a {
    border-bottom: 2px solid #7ed957;
}

a.navbar-brand > img {
    height: 100%;
    width: auto;
}

.container-row {
    padding: 0px 5% 0px 5% ;
}

.home-page-fluid-container {
    padding: 0px;
}

.p-home-text {
    color: black;
    align-items: center;
    width: 300px;
}

.row-card {
    margin-bottom: 20px;
}

.p-text {
    color: white;
    text-align: left;
}

.about-info-header {
    color: black;
    font-size: 35pt;
    font-weight: bold;
}

.about-info-text {
    color: black;
    font-weight: 200;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-icon {
    font-size: 50px;
}

.about-card-body {
    display: flex;
    justify-content: center;
    background-color: #d3d3d36e;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0.2);
}

.about-text {
    width: 95%;
}

.about-cards {
    display: flex;
    margin-top: 24px;
}

.about-card {
    margin-top: 24px;
    width: 95%;
    height: 100%;
}

.p-text-header {
    font-weight: bold;
    font-size: 75pt;
    color: white;
}

.p-text-home {
    color: white;
    font-size: 20pt;
}

.home-image {
    min-width: 360px;
    max-height: 2000px;
    max-height: 1800px;
    min-height: 300px;
}

.start-order {
    font-weight: bold;
}

.home-container {
    margin-left: 5%;
    align-items: center;
}

.about-card-title {
    font-size: 18px;
}

.map-block{
    padding-left: 3%;
}


.map-title-text {
    font-size: 48px;
}

.store-header-text {
    margin-top: 15px;
    margin-left: 15px;
}

@media (min-width: 1300px) {
    .store-card{
        width: 75%
    }
}

.homepage-jumbotron {
    background-image: url(../images/HomePageImage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    display: flex;
}

@media (min-width: 1300px) {
    .homepage-jumbotron{
        height: 100vh;
    }
}

.map-container {
    margin-top: 5%;
}

.store-header {
    font-weight: bold;
    font-size: 12px;
}

.card-info{
    display: block;
}

.address-text {
    font-size: 12px;
}

.hours-text {
    font-size: 12px;
    padding-left: 50px;
}

.store-info-text {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 15px;
}

.order-button {
    width: 100%;
    height: 50px;
    background-color: #008D9B;
    border-color: #008D9B;
    color: white;
    margin-top: 35px;
}

.store-name {
    font-size: 24px;
}

.burger-icon-image {
    height: 350px;
    width: 350px;
}
/* Button Styles */

.btn-custom:hover, .btn-custom-round:hover {
    color: white;
}

.btn-custom {
    background-color: #343a40;
    color: white;
}

.btn-custom-round {
    border-radius: 15px;
    background-color: #343a40;
    color: white;
}

.btn-about {
    padding: 10px 18px 10px 18px;
    border: 1px solid #31a7e5;
    border-radius: 4px;
    min-width: 150px;
    background-color: white;
    color: #0279b3;
}

    .btn-about:hover, .btn-about-link:hover {
        border-color: #31a7e5;
        background-color: #31a7e5;
        color: white;
    }

.btn-about-secondary {
    margin-left: 2rem;
    padding: 10px 18px 10px 18px;
    border: 1px solid #31a7e5;
    border-radius: 4px;
    background-color: #31a7e5;
    color: white;
}

    .btn-about-secondary:hover, .btn-about-link-secondary:hover {
        border-color: #2e99d3;
        background-color: #2e99d3;
        color: white;
    }

.btn-about-link {
    margin-top: 0.5rem;
    padding: 10px 18px 10px 18px;
    border: 1px solid #31a7e5;
    border-radius: 4px;
    min-width: 150px;
    background-color: white;
    color: #0279b3;
}

.btn-about-link-secondary {
    margin-top: 0.75rem;
    padding: 10px 18px 10px 18px;
    border: 1px solid #31a7e5;
    border-radius: 4px;
    min-width: 150px;
    background-color: #31a7e5;
    color: white;
}

.nav-btn-container {
    margin-top: 18rem;
    display: flex;
    justify-content: flex-end;
}

.nav-btn-container-tight {
    display: flex;
    justify-content: flex-end;
}

.nav-btn-container-long {
    margin-top: 28rem;
    display: flex;
    justify-content: flex-end;
}

#map {
    height: 100%;
    width: 95%;
}

@media (min-width: 1300px) {
    #map {
        height: 100%;
        width: 86%;
    }
}

/* General Styles */

hr {
    border-top: 2px dashed #000000;
}

a {
    font-weight: normal;
    color: #31a7e5;
}

    a:link {
        text-decoration: none;
        color: #31a7e5;
    }

    a:hover {
        font-weight: 600;
        color: #31a7e5;
    }

.section-header {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    color: #333333;
}

.sub-section-header {
    padding-bottom: 0.25rem;
    font-weight: 600;
    color: #333333;
}


@media (min-width: 1200px) {
    .card-column {
        padding-left: 6%;
    }
}

.card-text {
    justify-content: center;
    align-items: center;
}

body, html {
    height: 100%;
}

.round {
    border-radius: 50%;
    background: #7ed957;
}

/* About Page Styles */

.about-section {
    margin-bottom: 3rem;
    display: block;
}

.about-section-hidden {
    display: none;
}

.about-image {
    margin: 1rem auto;
    display: block;
}

/* Sidebar Styles */

.sidebar {
    margin-right: 1.5rem;
    min-width: 16rem;
    display: flex;
    flex-flow: column nowrap;
}

.sidebar-h4 {
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 700;
    color: #333333;
}

.sidebar-item-current {
    display: block;
    background-color: #def4fe;
}

.list {
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}

.list-section {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid #E4E4E4;
}

.list-section-item {
    padding: 0.5rem 1.25rem 0.5rem 4.25rem;
    color: #333333;
}

    .list-section-item:hover {
        font-weight: 600;
        color: #333333;
    }

    .list-section-item:first-child {
        padding-left: 2.75rem;
    }

@media(max-width: 1200px) {
    .sidebar {
        margin-right: 0;
        width: 100%;
    }
}

/* Sidebar code and css found from codepen:  https://codepen.io/mouse0270/pen/wEYyqx  Author: Robert McIntosh */

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
}

pre code {
    background-color: #fff;
    border: 1px solid #999;
    display: block;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-break: keep-all;
    overflow-wrap: break-word;
}

.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

    .list-group.list-group-root .list-group {
        margin-bottom: 0;
    }

    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
    }

    .list-group.list-group-root > .list-group-item:first-child {
        border-top-width: 0;
    }

    .list-group.list-group-root > .list-group > .list-group-item {
        padding-left: 30px;
    }

    .list-group.list-group-root > .list-group > .list-group > .list-group-item {
        padding-left: 45px;
    }

.invalid {
    border: 3px #7ed957 solid;
}
