{% extends 'base.html' %} 
{% load static %} 
{% block title %}<title>
    NCR Burger Demo
  </title>
  {% endblock %}


  {% block javascript %}
 <script>
$(document).ready(function(){
    

    $("#menu").click(function(){
        var site = "southland"
        $.ajax({
            type:"POST",
            url:'/burger/location',
            headers:{"X-CSRFToken": "{{csrf_token}}"},
            contentType:"application/json;charset=utf-8",
            data: JSON.stringify({'Site':site}),
            success:function(data){
                console.log(data);

            },
            complete:function(){
                window.location.href = "/burger";
            },
            error:function (xhr, textStatus, thrownError){
                alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
            }
        });
    });
});
</script>
  {% endblock %}



{% block content %}
  
   <button type="button" class="btn btn-primary" id="menu">Menu</button>
  
  {% endblock %} 