<div class="container-fluid home-page-fluid-container ">
    {% extends 'base.html' %} {% load static %}
    <div class="burgers-nav-bar">
        {% block title %}
        <title>NCR Burger Demo</title>
        {% endblock %}
    </div>

    {% block content %}

    <div class="homepage-jumbotron jumbotron jumbotron-fluid">
        <div class="home-container">
            <div class="p-home-text">
                <h2 class="p-text-header">Peachtree Burger</h2>
                <br />
                <h4 class="p-text-home">The #1 burger in your belly.</h4>
                <br />
                <button type="button" class="btn btn-warning start-order">
                    Start your order
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row container-row">
            <div class="col-md-auto mr-5" align="center">
                <img class="burger-icon-image" src="../static/images/Burger-logo.png" />
            </div>
            <div class="col-9">
                <div class="container">
                    <div class="row">
                        <div class="about-text">
                            <h2 class="about-info-header">About Peachtree Burger</h2>
                            <br />
                            <!-- Description -->
                            <h4 class="about-info-text">
                                This open-source, interactive demo showcases how to build a digital
                                purchasing flow for your business that's backed entirely by NCR platform
                                APIs.
                            </h4>
                            <br />
                            <h4 class="about-info-text">
                                Browse the sample app to see the Catalog, Order, Menu, and Sites APIs in
                                action.
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="card about-card">
                                <div class="card-body about-card-body">
                                    <div class="card-icon">
                                        <i class="fas fa-project-diagram about-icon"></i>
                                    </div>
                                    <div class="card-text">
                                        <h5 class="card-title about-card-title">
                                            Built with NCR APIs
                                        </h5>
                                        <p class="card-text">
                                            Integrated with Catalog, Sites, Order, Selling, Provisioning,
                                            Security, and more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card justify-content-center about-card">
                                <div class="card-body about-card-body">
                                    <div class="card-icon">
                                        <i class="fas fa-code about-icon"></i>
                                    </div>
                                    <div class="card-text">
                                        <h5 class="card-title about-card-title">Open Sourced</h5>
                                        <p class="card-text">
                                            View the code, clone the repository, and get started on your own.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card justify-content-end about-card">
                                <div class="card-body about-card-body">
                                    <div class="card-icon">
                                        <i class="fas fa-user-alt about-icon"></i>
                                    </div>
                                    <div class="card-text">
                                        <h5 class="card-title about-card-title">Customer Focused</h5>
                                        <p class="card-text">
                                            Built to showcase real examples of what NCR customers can do
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-row">
            <div class="col-4">
                <div class="row pl-5 row-card">
                    <h2 class="map-title-text">Our Burger Joints</h2>
                </div>
                {% for instance in results %}
                <div class="row pl-5 row-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="store-header-text">
                                <h5 class="card-title store-name">{{instance.siteName}}</h5>
                            </div>
                            <div class="store-info-text">
                                <div class="store-address-block">
                                    <p class="address-text">
                                        <span class="store-header">Address</span>
                                        <br />
                                        864 Spring St NW,
                                        <br />
                                        Atlanta, GA 30308
                                    </p>
                                    <button type="button" class="btn btn-info order-button">
                                        View Menu
                                    </button>
                                </div>
                                <div class="store-hours-block">
                                    <p class="hours-text">
                                        <span class="store-header">Hours</span>
                                        <br />
                                        Monday - 11AM-10PM
                                        <br />
                                        Tuesday - 11AM-10PM
                                        <br />
                                        Wednesday - 11AM-10PM
                                        <br />
                                        Thursday - 11AM-10PM
                                        <br />
                                        Friday - 11AM-10PM
                                        <br />
                                        Saturday - 11AM-10PM
                                        <br />
                                        Sunday - 11AM-10PM
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col map-block">
                <div id="map"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOeae3mJn5fjVDyk6lW4cdYHdF0VVkrkE&callback=initMap&libraries=&v=weekly"
                        async></script>
            </div>
        </div>
    </div>

    {% endblock %} {% block javascript %}
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    {% endblock %}
</div>