{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />

<body>
  <span>
    <a href="{{menuLink}}">
      <div class="back-to-home mt-3 ml-5">
        <i class="fas fa-chevron-left my-2"></i>
        <p class="h5 font-weight-light my-1 ml-2">Back to Menu</p>
      </div>
    </a>
  </span>
  <div class="cart-container">
    {% if cart %}
    <div class="container item-container">
      <p class="h1 mb-5">Cart</p>
      {% for items in cart %}
      <div class="container my-sm-5 my-md-5 mb-lg-2 d-flex">
        <div class="col-3">
          <img class="mw-100 cart-image"
               src="{{items.image}}"
               alt="{{items.displayName}}" />
        </div>
        <div class="col-6 mx-1">
          <p class="h4 font-weight-bold">{{ items.displayName }}</p>
          <p class="h5 font-weight-light">{{ items.price }}</p>
          <p class="h6 font-weight-bold">Modifications</p>

          <div class="row pl-3">
            {% for i in items.toppingColumns %}
            <div class="col-3 px-0">
              {% for toppings in items.toppings %}
              {% if forloop.parentloop.counter == toppings.colNumber %}
              <p class="h6 font-weight-light">{{ toppings.displayName}}</p>
              {% endif %}
              {% endfor %}
            </div>
            {% endfor%}
          </div>
        </div>
        <div class="col-3 mx-1 my-1">
          <div class="d-flex ">
            <button type="button"
                    class="btn quantity-button justify-content-center"
                    onclick="decreaseQuantity('{{forloop.counter0}}')">
              <span class="pr-2">-</span>
            </button>
            <div class="col-xs-1">
              <input class="quantity-input-{{forloop.counter0}}"
                     id="quantity-input-{{forloop.counter0}}"
                     onkeydown="return false"
                     value="{{items.quantity}}"
                     min="0"
                     max="9"
                     data-bind="value:replyNumber"
                     type="number" />
            </div>
            <button type="button"
                    class="btn quantity-button justify-content-center"
                    onclick="increaseQuantity('{{forloop.counter0}}')">
              <span class="pr-2">+</span>
            </button>
          </div>
          <button type="button"
                  class="btn edit-button mt-2 d-flex justify-content-center"
                  onclick="editCart('{{forloop.counter}}')">
            <span class=""><i class="far fa-edit pr-1"></i> Edit</span>
          </button>
          <button type="button"
                  class="btn btn-outline-danger mt-2 d-flex justify-content-center"
                  onclick="deleteItem({{ items.id }})">
            <div class="justify-content-center">
              <i class="fas fa-times pr-2"></i>Remove
            </div>
          </button>
        </div>
      </div>
      <hr class="mb-5" />
      {% endfor %}

      <div class="my-5 my-lg-0 ">
        <p class="h4 my-3">Special Instructions:</p>
        <p>
          <textarea class="form-control"
                    placeholder="Write your special instructions here.."
                    id="exampleFormControlTextarea1"
                    rows="3"></textarea>
        </p>
      </div>

      <div class="container-fluid  my-2 d-flex align-items-end flex-column">
        <p class="h5 my-2" id="subtotal">subtotal</p>
        <p class="h5 my-2" id="tax">tax</p>
        <p class="h3 my-2" id="total">total</p>
        <button type="button"
                class="btn checkout-button my-2 justify-content-center"
                onclick="checkout()">
          Checkout
        </button>
      </div>
    </div>

    {% else %}
    <div class="container no-item-container">
      <p class="h2">
        Your cart is currently empty. To add items, visit the Menu.
      </p>
      <div class="d-flex justify-content-end">
        <button type="button"
                class="btn checkout-button justify-content-center"
                onclick="backToMenu('{{menuLink}}')">
          Return to Menu
        </button>
      </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block javascript %}
    <script src="{% static 'js/cart.js' %}" type="text/javascript"></script>
    {% endblock %}
  </div>
</body>
{% if cart %}
<div class="items-footer">{% include 'footer.html' %}</div>

{% else %}
<div class="no-items-footer">{% include 'footer.html' %}</div>

{% endif %}
